:root{
    --default-background-color: #07223b; /*Primary Color*/
    padding:.5rem;

    --default-color: #eaba6b; /*Secondary Color*/
    --secondary-color: #cc3f0c; /*Accent 1 Color*/
    --accent1-color: #92dce5; /*Accent 2 Color*/
    /*https://coolors.co/eaba6b-cc3f0c-235789-92dce5*/
}
*{background-color: var(--default-background-color);}

h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
        color: var(--default-color);
}
a{
    text-decoration: none;
}

nav a {
    color: #fff;
}

p {
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:var(--accent1-color);
}
.hero{position:relative;}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
}

article img{
    position: absolute;
    float: right;
    top: 10rem;
    right: 3rem;
    max-width: 250px;
    background-color: var(--secondary-color);
    padding:25px;
}

article p{
    position: absolute;
    top: 12rem;
    left: 3rem;
    right: 25rem;
    background-color: var(--secondary-color);
    padding: 1rem;
}

.sociallinks img{
    height: 3rem;
    width:  auto;
}
