:root{
    background-color: #07223b; /*Primary Color*/
    padding:5%;
    color: #eaba6b; /*Secondary Color*/
    color: #cc3f0c; /*Accent 1 Color*/
    color: #92dce5; /*Accent 2 Color*/
    /*https://coolors.co/eaba6b-cc3f0c-235789-92dce5*/
}

h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
        color: #eaba6b;
}
a:link{
    color: #eaba6b;
    padding: 5px;
    border: solid 2px;
    background-color: rgb(204,63,12,.75);
    padding: 1px;
}

p {
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color: #92dce5;
}
.hero{position:relative;}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    background-color: rgb(204,63,12,.75);
    color: #92dce5;
    top: 1em;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
}

article img{
    position: absolute;
    float: right;
    top: 10rem;
    right: 3rem;
    max-width: 250px;
    background-color: rgba(204,63,12,.75);
    padding:25px;
}

article p{
    position: absolute;
    top: 12rem;
    left: 3rem;
    right: 25rem;
    background-color: rgb(204,63,12,.80);
    padding: 1em;
}

.sociallinks a{
    text-decoration: none;
}
.sociallinks img{
    height: 3rem;
    width:  auto;
}
