:root{
    --default-background-color: #07223b; /*Primary Color*/
    padding:.5rem;

    --default-color: #eaba6b; /*Secondary Color*/
    --secondary-color: #cc3f0c; /*Accent 1 Color*/
    --accent1-color: #92dce5; /*Accent 2 Color*/
    /*https://coolors.co/eaba6b-cc3f0c-235789-92dce5*/
}
*{background-color: var(--default-background-color);}
*,*::before,*::after{
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
        font-family: "Merriweather", serif;
        font-weight: 700;
        font-style: normal;
        color: var(--default-color);
}
a{
    text-decoration: none;
}
header {
    display:grid;
    grid: auto / auto auto ;
}

header img {
    display:flex;
    justify-self: center;
}

header nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    
}

nav a {
    color: #fff;
    font-size: x-large;
}

p {
    font-family: "Lexend Giga", serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    color:var(--accent1-color);
}
.hero{position:relative;}

.hero img{
    display: block;
    width: 100%;
    height: auto;
}

.hero h1{
    position: absolute;
    background-color: var(--secondary-color);
    color: var(--accent1-color);
    top: 1rem;
    left: 0;
    right: 0;
    text-align: center;
    padding: 1rem;
}

article img{
    position: absolute;
    float: right;
    top: 10rem;
    right: 3rem;
    max-width: 250px;
    background-color: var(--secondary-color);
    padding:25px;
}

article p{
    position: absolute;
    top: 12rem;
    left: 3rem;
    right: 25rem;
    background-color: var(--secondary-color);
    padding: 1rem; 
}

.history {
    display:flex;
    flex-wrap: wrap;
    padding: 1em 0;
    background-color: var(--default-color) transparent;
}

.history h2{
    width: 100%;
    text-align: center;
}

.history p{
    max-width: 36%;
    padding: 1em;
    color: var(--default-color);
}


.adventure{
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
    grid-template-rows:  20% 20% 20% 20% 20%;
}

.adventure h2{
    grid-column: 1/6;
    display: grid;
    justify-content: center;
}

.adventure figure{
    margin-top: 10rem;
    justify-self:center;
    align-self: center;
}

.adventure figure img{
    max-width: 20rem;
}

.adventure figcaption{
    color: var(--default-color);
    font-size: larger;
    grid-column:  1/6;
    justify-self: center;
}

.sociallinks{

    display: flex;
    justify-content: end;
}
.sociallinks img{
    height: 5rem;
    width:  auto;
    padding: 1rem;
}


.information{
    position: absolute;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: 1rem;
    padding: 1em;
    background-color: var(--secondary-color);
}
.information h2{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    background-color: var(--secondary-color);

}
.information p{
    position: relative;
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    background-color: var(--secondary-color);
    color: var(--default-color);
}

.map{
    position: relative;
    display: flex;
    justify-self: end;
    padding: 1em;
    margin-top: 2em;
    width: 50%;
}

.employees{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows:  33% 33% 33%;
}

.employees h2{
    grid-column: 1/4;
    display: grid;
    justify-content: center;
}

.employees figure{
    display: grid;
    justify-content: center;
}

.employees figure img{
    border: 1rem solid var(--accent1-color);
    background-color: #92dce5;

}

.employees figcaption{
    margin: .5rem;
    padding: .5rem;
    color: var(--default-color);
    font-size: larger;
    grid-column:  1/6;
    justify-self: center;
    border-top: solid var(--secondary-color);
    border-left: dotted var(--secondary-color);
    border-right: dotted var(--secondary-color);
    border-bottom: dashed var(--secondary-color);
}

.contact_form{
    position: relative;
    padding: 3rem;
    margin: 5rem;
    
}

.contact_form h2{
    display: flex;
    justify-content: center;
}

.contact_form form{
    display: grid;
    grid-template-columns: 25% 25% 25%;
    grid-template-rows: 10% 10%;
    background-color: var(--secondary-color);
    padding: 1rem;
    color: var(--default-color);


}
.contact_form input{
    background-color: rgb(222, 221, 221);
    grid-column: 2/4;
    height: fit-content;
    padding: .5rem 0rem;
    
}
.contact_form label{
    padding-top: .5rem;
    grid-column: 2/4;
    justify-self: center;
    background-color: var(--secondary-color);
    font-weight: 700;
}